<!DOCTYPE html>
{% extends 'cissapp/layout.html' %}

{% block content %}
<style>
    .table{
      width:90%;
      margin:auto;
    }
    button{
        float: right;
        margin-right: 20px;
    }

    </style>

<br>
<h1 class="text-center">Sign Up Confirm</h1>
<br>


<div class="container">
    <h4 class="text-center font-weight-bold h4">User Info</h4>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{form.cleaned_data.username}}</td>
        </tr>
        <tr>
            <td>Email of TMU</td>
            <td>{{form.cleaned_data.email}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>********</td>
        </tr>

    </table>
    <form class="" action="" method="POST">
        <div class="">
            {% csrf_token %}
            {% csrf_token %}
            {% for field in form %}
            {{field.as_hidden}}
            {% endfor %}
        </div>



        <button class="btn btn-outline-info text-right" name="next" value="back" type="submit">修正</button>
        <button class="btn btn-outline-info text-right" name="next" value="regist" type="submit">登録</button>
    </form>
</div>




{% endblock %}
