<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/761773b236.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGYBGM1046"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PGYBGM1046');
    </script>

        <style>
        @media screen and (min-width: 480px) {
        body {padding-top: 80px;}
        .fas{margin-right: 50px;}
        section{margin-bottom: 60px;}
        .container-fluid{
            width: 50%;
            margin: auto;
        }
        }

        @media screen and (max-width: 480px) {
            /* 480px以下に適用されるCSS（スマホ用） */
        .container-fluid{
            width: 90%;
            padding:
        }
        section{
            margin-bottom: 100px;
        }
        }
        </style>


        <title>CISS for TMU</title>
</head>
<body>
    <body>
        <div class="container-fluid">
        <br>
        <h1 class="text-center">Welcome to CISS!</h1>
        <br>

        <section class="common-form">
            <h2>Login</h2>
            {% if form.errors %}
                <p class="error-msg">Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p class="error-msg">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                    <p class="error-msg">Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form action="{% url 'accounts:login' %}" method="post" >
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>


        </section>
        <section>
            <h2>New guys here!</h2>
            <a href="{% url 'accounts:create' %}">
            <button class="btn btn-info" type="submit" >Signup</button></a>
        </section>
        </div>
    </body>
</body>
</html>
