{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/761773b236.js" crossorigin="anonymous"></script>

        <style>

        @media screen and (min-width: 480px) {
            /* 960px以上に適用されるCSS（PC用） */
        body {
            width:80%;
            margin: auto;
        }
        img{
            height:100px;
        }
        .fas{margin-right: 10px;}
        .container-fluid{
            padding-top:10px;
        }
        .sidebar{
            position: sticky;
            top:0px;
            height: 900px;
            margin:0, 10px;

        }
        .imageTag{
            height:100px;
        }
        .menuTag{
            height: 600px;
            text-align: inherit;
            font-size:25px
        }
        .accountTag{
            height: 100px;
        }
        }
        @media screen and (max-width: 480px) {
            /* 480px以下に適用されるCSS（スマホ用） */
        img{
            margin-left: 10%;
            height:60px;
        }
        .sidebar{
        }
        }
        </style>

        <title>CISS for TMU</title>
    </head>
    <body>
        <div class="row">
            <div class="col-md-4 col-12 bg-dark sidebar" >
                <div class="row">
                    <div class="navbar-header imageTag col-md-12 col-4 ">
                        <a href="{% url 'cissapp:index' %}" class="navbar-brand">
                            <img  src="../static/cissapp/picture/cissロゴ案２.png" >
                        </a>
                    </div>
                    <!---PC,タブレットで表示-->
                    <div class="menuTag col-12 d-none d-md-block">
                        <nav class="navbar navbar-dark menuTag col-md-12 col-5">

                            <ul class="nav navbar-nav">
                                <li class="nav-item "><a class="nav-link hidden-xs" href="{% url 'cissapp:index' %}"><i class="fas fa-home"></i>ホーム</a></li>
                                <li class="nav-item "><a class="nav-link" href="{% url 'cissapp:search' %}"><i class="fas fa-search fa-x glyphicon"></i>授業を検索</a></li>
                                <li class="nav-item "><a class="nav-link" href="#"><i class="fas fa-user-circle fa-x glyphicon"></i>アカウント</a></li>
                                <li class="nav-item  dropdown" >
                                    <a class="nav-link dropdown-toggle"  data-toggle="dropdown"><i class="fas fa-external-link-alt"></i>投稿する</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'cissapp:search' %}">授業に関する投稿</a>
                                        <a class="dropdown-item" href="./5020/">その他の投稿</a>
                                    </div>
                                </li>


                            </ul>
                        </nav>
                    </div>


                    <div class="accountTag col-md-12 col-8 d-flex align-items-end">
                        <nav class="navbar navbar-dark navbar-expand ">
                            <ul class="navbar-nav">
                                {% if user.is_authenticated %}
                                    <li class="nav-item ">
                                        <span class="navbar-text">{{ user }}</span>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="{% url 'logout' %}" class="logout nav-link">Logout</a>
                                    </li>
                                {% else %}
                                    <a href="{% url 'login' %}" class="login nav-link ">Login</a>
                                    <li class="nav-item">
                                        <a href="{% url 'accounts:signup' %}" class="signup nav-link "> Sign up </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
                <!---携帯のみ表示-->
                <div class="d-block d-md-none">
                        <nav class="navbar navbar-dark ">

                            <ul class="nav navbar-nav navbar-expand row" style="width: 100%; margin: auto;">
                                <li class="nav-item col"><a class="nav-link hidden-xs" href="{% url 'cissapp:index' %}"><i class="fas fa-home"></i></a></li>
                                <li class="nav-item col"><a class="nav-link" href="{% url 'cissapp:search' %}"><i class="fas fa-search fa-x glyphicon"></i></a></li>
                                <li class="nav-item col"><a class="nav-link" href="#"><i class="fas fa-user-circle fa-x glyphicon"></i></a></li>
                                <li class="nav-item  dropdown col" >
                                    <a class="nav-link dropdown-toggle"  data-toggle="dropdown"><i class="fas fa-external-link-alt"></i></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'cissapp:search' %}">授業に関する投稿</a>
                                        <a class="dropdown-item" href="./5020/">その他の投稿</a>
                                    </div>
                                </li>


                            </ul>
                        </nav>

                </div>




            </div>

            <div class="col-md-8 col-xs-12 " style="padding:0px;">
                <div class="container-fluid" style="padding:0px;">
                    {% block content %}
                    {% endblock %}
               </div>
            </div>

        </div>


    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>