<!DOCTYPE html>
{% extends 'cissapp/layout.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ja">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<p>## ここはサークルについて</p>
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui breadcrumb">
            <a class="active section">TOP</a>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>新着トピック &nbsp; <a href="./create_topic/">新規投稿</a></h3></div>
                <div class="ui divided items">
                    {% for topic in topic_list %}
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <a href="./{{topic.id}}/"><h4><br>{{topic.title}}</h4></a>
                            </div>
                            <div class="meta">
                                <span class="name">{{topic.user_name}}</span><br>
                                <span class="date">{{topic.created}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toIndex">
    <a href="{% url 'cissapp:index' %}">ホーム</a>
</div>
</body>
{% endblock %}