<!DOCTYPE html>
{% extends 'cissapp/layout.html' %}
{% load static %}
{% load topicsfilters %}
{% block content %}

<body>
<br>
<h3 class="text-center">部活・サークル等</h3>
<br>
                <!--コメント投稿-->
<div class="border" style="padding:20px;">
    <h4 class="text-center">新規投稿</h4>
    <form class="" action="{% url 'club:create_topic' %}" method="POST">
        {% csrf_token %}


            <div class="row">

                <div class="col">
                    {{form.title.label_tag}}{{ form.title}}
                </div>
                <div class="col">
                    {{form.category.label_tag}}{{ form.category}}
                </div>

            </div>
            <div class="mt-2">{{form.message}}</div>


            {% for error in form.errors%}
            <p style="color: red;">{{error}}</p>
            {% endfor%}
        <div class="text-center" style="margin-top:10px;">
            <button class="btn btn-outline-primary " style="width:30%;" type="submit" name="next" value="confirm">作成</button>
        </div>

    </form>
</div>

        <br>
        <h4 class="text-center">投稿一覧</h4>
        <br>
        {% if posts %}
        {% for post in posts %}
            <div class="card" style="padding:0;">
                <div class="card-header">

                    <div class="row" style="margin:auto;">
                        <h6 class="col-7">
                            <a href="./{{post.id}}/">
                                {{ post.title }}
                            </a>
                            ({{post.category}}) :
                            <a   href="{% url 'accounts:profile' %}">{{ post.user_name }}</a>
                        </h6>
                        <p class="col-5 text-right">{{ post.created}}</p>
                    </div>
                </div>
                <div class="card-body">
                    {% if post.pub_flg %}
                    <p　class="card-text">{{post.message | comment_filter | safe}}</p>
                    <div class="vote_button text-right" style="cursor: pointer;"
                    data-comment-id="{{post.id}}" data-count="{{post.vote_count}}">
                        <i class="far fa-heart"></i>
                        <span class="vote_counter">
                        {% if post.vote_count >= 0 %}
                            {{post.vote_count}}
                        {% endif %}
                        </span>
                    </div>
                    {% else %}
                        <p style="color: grey">コメントは非表示とされました</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="ui warning message"><p>まだコメントはありません</p></div>
        {% endif %}
        <!--//コメント投稿-->
                <div class="ui divided items">
                    {% for topic in topic_list %}
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <a href="./{{topic.id}}/"><h4><br>{{topic.title}}</h4></a>
                            </div>
                            <div class="meta">
                                <span class="name">{{topic.user_name}}</span><br>
                                <span class="date">{{topic.created}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
</body>
{% endblock %}
{% block js %}
<script src="{% static 'js/vote.js' %}" type="text/javascript"></script>
{% endblock %}